<br>
<div class="container p-4" style="background-color:	#e9ecef; border-radius: .3rem;">
  <h1 class="display-4">
    <%= @friend.first_name %>
    <%= @friend.last_name %>
  </h1>
  <p class="lead">
    <%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %>
  </p>
  <hr class="my-4">
  <div>
    <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-dark btn-sm" %>
    <%= link_to "Back", friends_path, class:"btn btn-dark btn-sm" %>
    <%= button_to "Delete this friend", @friend, method: :delete, class: "btn btn-danger btn-sm mt-1" %>
  </div>
</div>